<section class="myfooter bg-dark text-white py-4">
    <div class="container-fluid">
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Văn phòng giao dịch</h4>
                <ul class="list-menu">
                    <li class="li-menu"><a href="">Trang chủ</a></li>
                    <li class="li-menu"><a href="">Giới thiệu</a></li>
                    <li class="li-menu"><a href="">Sản phẩm</a></li>
                    <li class="li-menu"><a href="">Tin mới nhất</a></li>
                    <li class="li-menu"><a href="">Câu hỏi thường gặp</a></li>
                    <li class="li-menu"><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Hỗ trợ khách hàng</h4>
                <ul class="list-menu">
                    <li class="li-menu"><a href="">Hướng dân mua hàng</a></li>
                    <li class="li-menu"><a href="">Thanh toán & vận chuyển</a></li>
                    <li class="li-menu"><a href="">Chính sách bảo hành & đổi trả</a></li>
                    <li class="li-menu"><a href="">Chính sách bán hàng trả góp</a></li>
                    <li class="li-menu"><a href="">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Thông tin</h4>
                <ul class="list-menu">
                    <li class="li-menu"><a href="">Tuyển dụng</a></li>
                    <li class="li-menu"><a href="">Điều khoản sử dụng</a></li>
                    <li class="li-menu"><a href="">Bảo mật thông tin</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Liên hệ</h4>
                <ul class="list-menu">
                    <li class="li-menu">Hotline: <a href="">0969675963</a></li>
                    <li class="li-menu">Góp ý, khiếu nại: <a href="">0969675963</a></li>
                    <li class="li-menu">Email: <a href="">tranhaistore&#64;gmail.com</a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>MUA LAPTOP TẠI TRẦN HẢI STORE</h5>
                <p class="m-0">Chứng nhận ĐKKD số: 0388282938 do sở KH & ĐT TP.Hà Nội cấp</p>
                <p class="m-0">Địa chỉ: 141/70 đường Tám Danh phường 4 quận 8 thành phố Hồ Chí Minh</p>
                <p class="m-0">Điện thoại: 0969675963 - Email: tranhai141&#64;gmail.com</p>
            </div>
            <div class="col-md-6">
                <h5>NHẬN THÔNG TIN KHUYẾN MÃI</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nhập email của bạn">
                    <span class="input-group-text text-white bg-danger" id="basic-addon2">Đăng ký</span>
                </div>
                <!-- <div class="socials">
                    <div class="box40 bg-primary">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="box40 bg-danger">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="box40 bg-primary">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="box40 bg-primary">
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div> -->
            </div>
        </div>
        <hr>
    </div>
</section>