// .row{
//     color: rgb(173, 178, 203);
// }
// footer {
//     background-color: #1f2937;
//     color: #9ca3af;
// }

// footer a {
//     color: #9ca3af;
//     text-decoration: none;
// }

// footer a:hover {
//     color: #ffffff;
//     text-decoration: underline;
// }

.box40{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}

.list-menu .li-menu{
    list-style: none;
}
.list-menu .li-menu a{
    text-decoration: none;
    color: #8b8e96;
}
.list-menu .li-menu a:hover{
    color: rgba(220,53,69,1);
}

.socials{
    display: flex;
    gap: 20px;

}